body{
    margin: 0px; padding: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}
content{
    flex-grow: 1;
}
.title{
    text-align: center;
    font-weight: 900;   
}
.div-content{
    min-width: 720px;
    max-width: 1080px;
    margin: 0 auto;
}

.title{
    text-align: center;
    font-weight: 900;
    margin-bottom: 50px;
}

@media (hover: hover) and (pointer: fine) {
    .title{
        font-size: 5em;
        margin-bottom: 50px;
    }

    .div1-box{
        padding: 100px;
        height: fit-content;
    }
}
