/*모바일 보기*/
@media screen and (pointer: coarse) {
    .header-menu{    
        height: 150px;
    }
    .header-menu #profilePic{
        width: 80px; height: 150px;
        left: 30px;
    }
    .logo-position{
        height: 150px;
    }
    .logo-position img{
        height: 100px;
    }
    .login-box{
        top: 0px; right: 30px;
        width: 150px; height: 150px;
    }
    footer{
        height: 200px;
    }
    ul.navi-list{
        padding: 0px;
        margin: 3% 0px;
    }
    .title{
        font-size: 5em;
    }
    .header-menu span{
        font-size: 3.5em;
    }
    .login-modal{
        width: 80vw;
        padding: 8vw;
        background-color: white;
        border-radius: 50px;
        text-align: center;
    }
    .modal-title>img{
        width: 200px;
        margin-bottom: 20px;
    }
    .modal-title>span{
        font-size: 3em;
    }
    .login-modal input{
        font-size: 2.5em;
        height: 80px;
        margin-bottom: 30px;
    }
    .login-modal input[type=submit]{
        width: 100%;
        margin-top: 20px;
        font-size: 2em;
    }
    .navi-menu{
        width: 90%;
    }
    .navi-profile{
        padding: 5% 10%;
    }
    .navi-profile #profilePic{
        width: 100px; height: 100px;
    }
    .navi-profile>#profileName{
        width: 80%;
        padding-left: 50px;
        text-align: left;
        font-size: 3em;
    }
    .navi-profile>span:last-of-type{
        size: 30px;
    }
    .navi-button{
        padding: 0% 10% 2% 10%;
    }
    .navi-button>button{
        font-size: 3em;
        height: 100px;
    }  
    .naviClose-btn{
        font-size: 4em;
    }
    ul.navi-list>li>a{
        height: 100px;
        line-height: 100px;
        padding-left: 10%;
        font-size: 2.5em;
        margin-top: 3%;
    }

}