<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<typeAlias type="com.github.user.model.vo.User" alias="user"/>
		<typeAlias type="com.github.list.model.vo.List" alias="l"/>
		<typeAlias type="com.github.list.model.vo.Keyword" alias="keyword"/>
		<typeAlias type="com.github.list.model.vo.ListFavorite" alias="favorite"/>
		<typeAlias type="com.github.bookmark.model.vo.Bookmark" alias="b"/>
	</typeAliases>
</configuration>
